/* all */
* {
  box-sizing: border-box;
  line-break: strict;
}

/* block */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr 48px;
  grid-template-columns: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #424f56;
  background-color: #d9e9e5;
}

header {
  grid-row: 1 / 1;
}

main {
  grid-row: 2 / 2;
}

footer {
  grid-row: 3 / 3;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 24px 0;
  font-size: 32px;
  font-weight: 900;
  line-height: 3.2rem;
}

h2 {
  margin: 24px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 2rem;
}

h3 {
  margin: 24px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 2rem;
}

h4 {
  margin: 24px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 2rem;
}

h5 {
  margin: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 2rem;
}

h6 {
  margin: 24px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 2rem;
}

input[type="text"],
textarea {
  padding: 16px;
  background-color: #b1c7d4;
}

input[type="button"],
input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #6cb2d3;
}

/* inline reset */
a {
  text-decoration: underline solid #3f83a6;
  color: #3f83a6;
}

/* classes */

.l-header {
  display: flex;
  flex: 1 0 144px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  background-color: #002b40;
  filter: drop-shadow(0px 0px 2px #002b40);
}

.header__title {
  color: #dedede;
  font-size: 24px;
  font-weight: bold;
  padding: 32px;
}

.l-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 32px;
}

.main {
  background-color: #d9e9e5;
}

.l-article {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  margin: 16px auto;
}

.article {
  border-radius: 8px;
  /* border: 1px solid #002b40; */
  background-color: #b1c7d4;
  filter: drop-shadow(0px 0px 2px #002b40);
}

.article__title {
}

.article__abstract {
  width: 100%;
  padding: 0 0 32px 0;
  margin: 0 0 32px 0;
  border-bottom: 1px solid #002b40;
}

.l-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  color: #d9e9e5;
  background-color: #424f56;
}

.l-nav {
  margin-right: auto;
}

.nav {
}

.nav__list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 24px;
}

.nav__list--row {
  flex-direction: row;
  margin-right: auto;
}

.nav__item--row {
  margin: 0 8px;
}

.nav__link {
  color: #6cb2d3;
  text-decoration: none;
}

.nav__link:hover {
  background-color: #1d4b69;
}

.nav__link--row {
  padding: 16px 0;
}

.l-searchBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px;
}

.searchBox {
}

.searchBox__textbox {
  width: 256px;
  height: 24px;
  padding: 16px;
  margin-right: 16px;
  background-color: #b1c7d4;
}

.searchBox__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 32px;
  background-color: #6cb2d3;
  text-align: center;
}

/* utility */
.underline--black {
  text-decoration: underline solid black;
}
