html,
body {
  margin: 0;
  padding: 0;
}

main,
footer {
  padding: 1rem;
}

.profile {
  padding: 0 1rem;
}

.profile--img {
  width: 5rem;
}

.footer {
  background-color: lightblue;
}

.footer--content {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 2rem;
  padding: 1rem 10rem;
}

.footer--copyright {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
