.main-home {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2rem;
}

.tweet {
  grid-column: 1;
  padding: 0 1rem;
}

.news {
  grid-column: 2;
  padding: 0 1rem;
}

.news--container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.news--log {
  grid-column: 1;
}

.news--work {
  grid-column: 2;
}

.news--lab {
  grid-column: 3;
}

.profile {
  grid-column: 3;
}
