body {
  /* スクロールバーで若干ずれるなら最初から出して防ぐ */
  overflow-y: scroll;
}

html,
body {
  font-size: 16px;
  box-sizing: border-box;
}

.profile--img {
  width: 5rem;
}

.post-category {
  display: inline-block;
  font-size: 14px;
  padding: 0rem 0.4rem;
  margin-left: 0.4rem;
  border: 1px solid #828282;
  border-radius: 1rem;
  color: #828282;
  text-align: center;
}
